<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Saludos <%= @user.name %></h1>
<p>
    Le escribimos para informarle que ha recibido una solicitud de materiales.<br>
</p>
<p>Se despiden atentamente, el equipo de gpi.</p>
<p>https://gpi-moonmen.herokuapp.com</p>
</body>