<% provide(:title, 'Contacto') %>
<h1>Contact</h1>
<p>
  Numero de Contacto para constructora GPI: +56912312321
  Numero de Contacto para mantenimiento GPI: +56932132123
  Mail de contacto: moonmen.gpi@gmail.com
</p>
