<h1>Editing Abastecimiento Central</h1>

<%= render 'form', abastecimiento_central: @abastecimiento_central %>

<%= link_to 'Show', @abastecimiento_central %> |
<%= link_to 'Back', abastecimiento_centrals_path %>
