<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<% if false %>
<% if @user.errors.empty? && @user.save %>
<div class="alert alert-success"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
<% end %>
<% end %>
