<h1> Solicitud #<%=@solicitud.id%> - de <%=@solicitud.bodega_obra.localizacion%> </h1>

<div class="container">
    <div class="row">
        <table class="table table-condensed table-hover">
            <div class="col-md-2 col-md-offset-2">
                <thead>
                    <tr>
                        <th> Material </th>
                        <th> Cantidad </th>
                    </tr>
                </thead>
            </div>
            <% @solicitud.materials.each do |mat| %>
                <div class="col-md-2">
                    <tbody>
                        <tr>
                            <td><%= mat.nombre %></td>
                            <td><%= SolicitudMaterial.find_by(solicitud: @solicitud, material: mat).cantidad%></td>
                        </tr>
                    </tbody>
                </div>
            <%end%>
        </table>
    </div>
</div>
