<%= form_with(model: personal_obra, local: true) do |form| %>
  <% if personal_obra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_obra.errors.count, "error") %> prohibited this personal_obra from being saved:</h2>

      <ul>
      <% personal_obra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
