<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Estimado <%= @user.name %>:</h1>
<p>
    Le escribimos para informarle que se han agotado los <strong><%=@io.material.nombre%></strong> en la bodega de <%=@user.bodega_obras[0].localizacion%>.<br>
</p>
<p>Se despiden atentamente, moonmen.</p>
<p>https://gpi-moonmen.herokuapp.com</p>
</body>