<footer class="footer">
  <small>
    Moonmen 2018
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de Nosotros",   about_path %></li>
      <li><%= link_to "Contactos", contact_path %></li>
    </ul>
  </nav>
</footer>
