<h1>Centro de Operaciones</h1>
<p>En este pagina se pondran la lista de funciones que tiene cierto trabajador</p>
<br/>
<%= link_to "Inventario Bodega", inventario_path %>
<br/><br/>
<% if current_user.puesto == 1%>
    <%= link_to "Solicitudes de Materiales", solicituds_path %>
<br/><br/>
<% end %>
<%= link_to "Correo de prueba <In progress>", testmail_path %>

<% if current_user.puesto == 3%>
    <%= link_to '<button type="button" class="btn btn-primary btn-lg btn-block">Administracion de Ordenes de Compra</button>'.html_safe, orden_compras_path %>
<br/><br/>
<% end %>
