<h1>Centro de Operaciones de los usuarios</h1>
<p>En este pagina se pondran la lista de funciones que tiene cierto trabajador</p>
<br/>
<%= link_to "Inventario Bodega", inventario_path %>
<br/><br/>
<%= link_to "Solicitudes de Materiales <In progress>", materiales_path %>
<br/><br/>
<%= link_to "Correo de prueba <In progress>", testmail_path %>
