<h1>Centro de Operaciones</h1>
<ul>
<br/>
<% if current_user.puesto != 0 and current_user.puesto != 3 %>
    <li><%= link_to "Inventario Bodega", inventario_path %></li>
<br/><br/>
<% end %>
<% if current_user.puesto == 1 or current_user.puesto==2 %>
    <li> <%= link_to "Solicitudes de Materiales", solicituds_path %></li>
<br/><br/>
<% end %>
<% if current_user.puesto == 3%>
    <li> <%= link_to 'Administracion de Ordenes de Compra', orden_compras_path %> </li>
<br/><br/>
<% end %>
</ul>
